*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#F3F3FB;
  font-family: 'Roboto', sans-serif;
}
.container {
   background:#fff;
   width:400px;
   height:auto;
  box-shadow:0px 2px 2px rgba(0,0,0,.1);
  padding-bottom:1rem;
}
.login-container {
  padding:2rem;
}
.login-container h3{
  margin:20px 0 30px;
  text-transform:capitalize;
  font-size:24px;
}

.input-field input{
  padding:.8rem;
  width:100%;
  border:1px solid #ccc;
}
input::placeholder{
  text-transform:capitalize;
  font-size:12px;
  color:#3d3241;
}
.input-field .label{
  display:flex;
  padding:5px 0;
  justify-content:space-between;
}
label{
  font-size:13px;
  font-weight:bold;
}
.label small{
  color:red;
  text-transform:capitalize;
}

.btn{
  padding:.75rem;
  width:100%;
  border-radius:3px;
  border:2px solid #353D5A;
  color:#353D5A;
  background:transparent;
  font-weight:bold;
  cursor:pointer;
  margin-bottom:5px;
  transition:.2s ease-in;
}
.btn:hover{
  box-shadow:1px 4px 7px rgba(0,0,0,.2);
  background:#353D5A;
  color:#fff;
}
.login{
  border:1px solid #F43C7C;
  background:#F43C7C;
  color:#fff;
  margin-top:1rem;
}
.login:hover{
  box-shadow:1px 4px 7px rgba(0,0,0,.2);
  background:#d43169;
}
.terms{
  font-size:11px;
  text-align:center;
}
.register{
  margin-top:40px;
}
.register span{
  font-size:12px;
}

.divider{
  border-top:1px solid rgba(0,0,0,.2);
  margin-bottom:10px;
}
.actions{
  padding:1rem;
  display:flex;
  gap:15px;
  justify-content:center;
}
.actions a{
  font-size:12px;
  color:#FCA4C2;
  text-decoration:none;
}
.actions a:hover{
  color:#F43C7C;
}